.mood-selection-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
}

.mood-selection-form select {
    margin: 2rem;
}

.mood-selection-form input {
    margin: 2rem;
}

@media (max-width: 700px){
    .mood-selection-form {
        width: 100%;
    }
}

ul li {
    list-style-type: none;
}